* {
    overflow-x: hidden;
}
body {
    margin: 50px;
}
#data-diri {
    align-items: center;
    .deskripsi {
        display: flex;
        align-items: center;
        justify-content: center;
        border-style: solid;
        .foto-diri {
            width: 20%;
            height: 20%;
            border-radius: 10%;
        }
        .deskripsi-diri {
            margin: 50px;
            border-style: solid;
        }
    }
    .kontak {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 10px;

        img {
            max-width: 50px;
            max-height: 50px;
            width: auto;
            height: auto;
        }
    }
}

#pendidikan {
    img {
        width: 15%;
        aspect-ratio: 1/1;
        object-fit: contain;
    }
}

#prestasi {
    li {
        display: flex;
        align-items: center;
        border-style: solid;
        margin: 3px;
        img {
            width: 5%;
            height: 5%;
        }
    }
}

#film {
    .list-film {
        display: flex;
        align-items: center;
        img {
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: contain;
        }
    }
}
